.App {
    width: 800px;
    height: 440px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    user-select: none;
}
.App::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 50px;
    width: 500px;
    height: 70px;
    background-image: url("../img/logo.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.food-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    margin: 10px;
}

.meal {
    display: inline-block;
    width: 95%;
    border: 1px solid black;
    height: 60px;
    margin-top: 5px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.meal:hover {
    background: lightgreen;
}

.fa-cutlery, .fa-coffee {
    font-size: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
}
span {
    display: inline-block;
    margin-left: 60px;
    margin-top: 7px;
}

.order {
    width: 80%;
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.fa-times {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.fa-times:hover {
    color: red;
}
h3 {
    text-align: center;
    margin: 0;
}
.burgers {
    position: absolute;
    width: 270px;
    height: 250px;
    left: 20px;
    top: 100px;
    border: 1px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.drinks {
    position: absolute;
    width: 270px;
    height: 250px;
    left: 310px;
    top: 100px;
    border: 1px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.totalPrice {
    text-align: center;
    line-height: 40px;
    position: absolute;
    width: 560px;
    height: 40px;
    border: 1px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    bottom: 30px;
    left: 20px;
    font-weight: bold;
}
.title {
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    background-color: lightcoral;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}